<label class="hoverable" for="fileInput" style="    margin: 0px auto 0px auto;">
    <img [src]="url ? url : 'https://firebasestorage.googleapis.com/v0/b/travelmantics-2e7c6.appspot.com/o/Images?alt=media&token=aa62a46c-dd81-4788-ae77-5d34079764c8'">
    <div class="hover-text">
      Choose file
      <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
      </div>
    <div class="background"></div>
  </label>
  <br/>
  <input id="fileInput" type='file' (change)="onSelectFile($event)">
  <button *ngIf="url" (click)="delete()">delete</button>



  <!-- <input type="file" (change)="uploadFile($event)" />
  <div>{{ uploadPercent | async }}</div>
  <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
  <br> -->

  <div>
  <input type="file" (change)="uploadFile($event)" style="margin:auto;"/>
  <button mat-raised-button (click)="upload()" style="margin: 10px">
    <mat-icon>cloud_upload</mat-icon> &nbsp;&nbsp; Upload
</button>
  </div>

<!--
  <button mat-raised-button (click)="upload()" style="margin: 10px">
    <mat-icon>cloud_upload</mat-icon> &nbsp;&nbsp; Upload
</button> -->

  <!-- <img [src]="downloadURL | async" /> -->
