<label class="hoverable" for="fileInput" style="    margin: 0px auto 0px auto;">
    <img [src]="url ? url : user.profilePicUrl">
    <div class="hover-text">
      Choose file
      <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
      </div>
    <div class="background"></div>
  </label>
  <br/>
  <input id="fileInput" type='file' (change)="uploadFile($event)">



  <div>
  <input type="file" (change)="uploadFile($event)" style="margin:auto;"/>

  <button *ngIf="file" mat-raised-button (click)="upload()" style="margin: 10px">
    <mat-icon>cloud_upload</mat-icon> &nbsp;&nbsp; Upload
</button>
  </div>

<!--
  <button mat-raised-button (click)="upload()" style="margin: 10px">
    <mat-icon>cloud_upload</mat-icon> &nbsp;&nbsp; Upload
</button> -->

  <!-- <img [src]="downloadURL | async" /> -->
