<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Lorem
                </h2>
            </div>
            <div class="body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem assumenda fugit deleniti iusto, vitae quidem consectetur sit magni! Sed possimus sunt dolorem officia quisquam iure, sapiente soluta dolorum quod!
                </p>

                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum neque a voluptates rerum eius reprehenderit aliquam in cumque. Aliquid facilis facere officiis modi et consequuntur excepturi quas neque odit sint!
                </p>


            </div>
        </div>
    </div>
</div>
