<!-- <div
  style="z-index: 100;

position: fixed;margin: 25px;"
>
  <span> <mat-icon>list</mat-icon></span>
  <span> <mat-icon>grid_on</mat-icon></span>
  <span>
    <button mat-raised-button (click)="addContact()">
      <mat-icon>add</mat-icon> &nbsp;&nbsp;Add
    </button></span
  >

</div> -->
<div style="z-index: 100;

position: fixed;margin: 25px;right: 10px;">
    <button mat-raised-button style="float: right;" (click)="addContact()">
        <mat-icon>person_add</mat-icon> &nbsp;&nbsp;Add
      </button>

</div>

<div style="margin-top: 100px;">
  <div  *ngFor="let contact of contacts">
    <mat-card style="margin: 15px 0px 15px 0px;border: 1px solid rgb(97, 125, 138)">
      <mat-card-content>
        <!-- 200px not mobile -->
        <mat-grid-list cols="{{ isAppMobile ? 1 : 3 }}"
        [ngStyle]="{ height: isAppMobile ? '320px' : '200px' }"

       >

          <div
            *ngIf="isAppMobile"
            style="flex-direction: row-reverse;
            display: flex;height: 40px;"
          >
            <mat-icon style="margin:10px;" (click)="editContact()"
              >edit</mat-icon
            >

            <mat-icon
              style="margin:10px;float: right;"
              (click)="deleteContact()"
              >delete</mat-icon
            >
          </div>

          <mat-grid-tile colspan="1" style="margin-top: 25px;">
            <div class="text-center">
              <img
                src="assets/images/user.png"
                style="border-radius: 50%;height:75px;width: 75px;"
              />

              <br/>
              <div *ngIf="isAppMobile">
                  <h3>
                      {{ contact.firstName }}
                      <span>{{ contact.lastName }}</span>
                    </h3>

                    <div>{{ contact.contactType }}</div>
                    <br />

                    <div>
                      <mat-icon>mail_outline</mat-icon>
                      {{ contact.emailAddress }}
                    </div>

                    <div>
                      <mat-icon>public</mat-icon>
                      {{ contact.contactDetails[0].websiteUrl }}
                    </div>

                    <div>
                      <mat-icon>dialpad</mat-icon>
                      {{contact.contactDetails[0].phoneNumber}}
                    </div>

              </div>

            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" *ngIf="!isAppMobile">
            <div>
               <h3>
                {{ contact.firstName }}
                <span>{{ contact.lastName }}</span>
              </h3>
              <div>{{ contact.type }}</div>
              <br />

              <div>
                <a href=" {{ contact.emailAddress }}">
                    <mat-icon style="vertical-align: bottom;">mail_outline</mat-icon>
                    {{ contact.emailAddress }}
                </a>

              </div>

              <div style="margin-top:10px;">
                <a href="{{ contact.contactDetails[0].websiteUrl }}">
                    <mat-icon style="vertical-align: bottom;">public</mat-icon>
                    {{ contact.contactDetails[0].websiteUrl }}

                </a>

              </div>

              <div style="margin-top:10px;">
                <a href="tel:{{ contact.contactDetails[0].phoneNumber }}">
                    <mat-icon style="vertical-align: bottom;">dialpad</mat-icon>
                    {{ contact.contactDetails[0].phoneNumber }}

                </a>

              </div>

              <div></div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" *ngIf="!isAppMobile">
            <!-- not mobile or grid view -->
            <div>
              <button
                (click)="editContact(contact)"
                style=" -webkit-appearance: none;
                            background-color: white;
                            border: 0px;
                            margin-right: auto;
                            margin-left: auto;"
              >
                <i class="material-icons">
                  edit
                </i>
                <div>Edit</div>
              </button>

              <button
                (click)="deleteContact()"
                style=" -webkit-appearance: none;
                            background-color: white;
                            border: 0px;
                            margin-right: auto;
                            margin-left: auto;"
              >
                <i class="material-icons">
                  delete
                </i>
                <div>Delete</div>
              </button>
            </div>

            <!-- FB Twitter LinkediN -->
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-raised-button style="float: right;" (click)="addContact()">
    <mat-icon>person_add</mat-icon> &nbsp;&nbsp;Add
  </button>
</div>
