<!--
<mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile colspan="1">
                <img
                src="assets/images/user.png"
                style="border-radius: 50%;height:150px;width: 150px;"
              />


        </mat-grid-tile>

        <mat-grid-tile colspan="1">

                <button mat-raised-button (click)="editProfile()" style="margin: 10px">
                        <mat-icon>edit</mat-icon> &nbsp;&nbsp;Edit Profile
                    </button>

        </mat-grid-tile>



</mat-grid-list> -->

<div class="text-center">

  <div class="text-center">

    <app-profile-image></app-profile-image>

  </div>

  <div>
      <button mat-raised-button (click)="editProfile()" style="margin: 10px">
          <mat-icon>edit</mat-icon> &nbsp;&nbsp;Edit Profile
      </button>


  </div>



</div>

<div style="width: 100%;margin-left: auto;margin-right:auto;">


        <mat-tab-group mat-align-tabs="center"
        [ngStyle]="{'width':isAppMobile ? '300px' : 'auto' }"
        style="width: auto;">

                <mat-tab label="Bio">

                    <h4 style="margin:16px;">Personal Details</h4>

                            <label style="margin:16px;">
                              Name
                              </label>
                              <span style="margin:16px;">{{user.name}}</span>

                              <br>

                              <label style="margin:16px;">
                                  Surname
                                  </label>
                                  <span style="margin:16px;">{{user.surname}}</span>
                                  <br>
                                  <label style="margin:16px;">
                                      ID Number
                                      </label>
                                      <span style="margin:16px;"> {{user.idNumber}}</span>

                                  <br>
                                  <label style="margin:16px;">
                                      Gender
                                      </label>
                                      <span style="margin:16px;">Male</span>


                                      <br>
                                      <mat-divider></mat-divider>

                                      <h4>Contact Details</h4>
                                      <label style="margin:16px;">
                                          Mobile Number
                                          </label>
                                          <span style="margin:16px;"> 07123456789</span>
                                      <br>

                                      <label style="margin:16px;">
                                          Email
                                          </label>
                                          <span style="margin:16px;">
                                           {{user.emailAddress}}</span>
                </mat-tab>

                <mat-tab label="More info">

                    <label style="margin:16px;">
                        Theme
                        </label>

                        <span>
                          Primary
                        </span>



                </mat-tab>
              </mat-tab-group>

</div>






