<form autocomplete="off" #editProfileModal="ngForm">
  <h1 mat-dialog-title>Edit Profile</h1>

  <!-- style="width:800px;height:500px;" -->
  <mat-dialog-content style="width: inherit;height: 500px;">
    <mat-tab-group
      mat-align-tabs="center"
      [ngStyle]="{ width: isAppMobile ? '250px' : '600px' }"
    >
      <mat-tab [label]="'Bio'" style="font-size: 10px;">
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Names</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>perm_identity</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                [(ngModel)]="user.name"
                name="FirstName"
                required
                #FirstName="ngModel"
                minlength="2"

              />

              <mat-error *ngIf="FirstName.errors?.required">
                First Name is Required!
              </mat-error>

              <mat-error *ngIf="FirstName.errors?.minlength">
                First Name must be at least 2 characters long.
              </mat-error>

            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="user.surname"
                required
                minlength="2"
                name="SurName"
                #SurName="ngModel"
              />

              <mat-error *ngIf="SurName.errors?.required">
                Last Name is Required!
              </mat-error>

              <mat-error *ngIf="SurName.errors?.minlength">
                Last Name must be at least 2 characters long.
              </mat-error>



            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Personal data</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>visibility_off</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput
              placeholder="ID Number"
              name="IdNumber"
              required

              (keyup)="!IdNumber.errors?.pattern ? getMoreInfo($event) : doNothing()"

              type="number"

              [(ngModel)]="user.idNumber"
              #IdNumber="ngModel"
              pattern=".{13}"
              />

              <mat-error *ngIf="IdNumber.errors?.required">
                Id Number is Required!
              </mat-error>

              <mat-error *ngIf="IdNumber.errors?.pattern">
                Id Number must be 13 numbers!
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput
              placeholder="Age"
              name="Age"
              required
              [(ngModel)]="user.age"
              #Age="ngModel"
              />
              <mat-error *ngIf="Age.errors?.required">
                Age is required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Passport Number"
                name="PassPortNumber"
                [(ngModel)]="user.passportNumber"
              />
            </mat-form-field>
          </mat-expansion-panel>






          <mat-expansion-panel
            [expanded]="step === 4"
            (opened)="setStep(4)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Contacts</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>contact_phone</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input
              matInput
              name="MobileNumber"
              placeholder="Mobile Number"
              [(ngModel)]="userPersonalData.mobileNumber"
              required
              #MobileNumber="ngModel"
              />

              <mat-error *ngIf="MobileNumber.errors?.required">
                A contact number is required.
              </mat-error>

            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                name="Email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required
                [(ngModel)]="user.emailAddress"
                placeholder="Email"
                #Email="ngModel"
              />

              <mat-error *ngIf="Email.errors?.required">
                An email address is required.
              </mat-error>

              <mat-error *ngIf="Email.errors?.pattern">
                A valid email is required.
              </mat-error>

            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab [label]="'More Info'" style="font-size: 10xpx;height: 100vh;">

        <mat-accordion>

            <mat-expansion-panel
            [expanded]="step === 3"
            (opened)="setStep(3)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Gender</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>wc</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-radio-group
              style="display: flex;
              flex-direction: column;
              margin: 15px 0;"
              name="Gender"
              [(ngModel)]="userPersonalData.gender"

            >
              <mat-radio-button
                style="margin: 5px;"
                *ngFor="let gender of genders"
                [value]="gender"
              >
                {{ gender }}
              </mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>

          <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Citizenship</h4>
            </mat-panel-title>
            <mat-panel-description style="flex-grow:0;">
              <mat-icon>public</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-checkbox>SA Citizen</mat-checkbox>

          <mat-form-field>
            <input matInput placeholder="Country of Birth" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Citizenship" />
          </mat-form-field>
        </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Date of Birth</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput [matDatepicker]="picker3" placeholder="Date of Birth"
                [value]="userPersonalData.dob.fullDate">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>


          </mat-expansion-panel>
        </mat-accordion>


      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">
      Cancel
    </button>
    <button
      (click)="save()"
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
    >
      Save
    </button>
  </div>
</form>
