<form autocomplete="off" #createUserModal="ngForm">
  <h1 mat-dialog-title>Edit Profile</h1>

  <!-- style="width:800px;height:500px;" -->
  <mat-dialog-content style="width: inherit;height: 500px;">
    <mat-tab-group
      mat-align-tabs="center"
      [ngStyle]="{ width: isAppMobile ? '250px' : '600px' }"
    >
      <mat-tab [label]="'Bio'" style="font-size: 10px;">
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Names</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>perm_identity</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                [(ngModel)]="user.name"
                name="UserName"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="user.surname"
                name="SurName"
              />
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Citizenship</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>public</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-checkbox>SA Citizen</mat-checkbox>

            <mat-form-field>
              <input matInput placeholder="Country of Birth" />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Citizenship" />
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Personal data</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>visibility_off</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="ID Number" name="IdNumber" />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Age" />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Passport Number"
                name="PassPortNumber"
              />
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 3"
            (opened)="setStep(3)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Gender</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>wc</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-radio-group
              style="display: flex;
              flex-direction: column;
              margin: 15px 0;"
            >
              <mat-radio-button
                style="margin: 5px;"
                *ngFor="let gender of ['Male', 'Female', 'Non Binary']"
                [value]="gender"
              >
                {{ gender }}
              </mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 4"
            (opened)="setStep(4)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Contacts</h4>
              </mat-panel-title>
              <mat-panel-description style="flex-grow:0;">
                <mat-icon>contact_phone</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Mobile Number" />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                name="Email"
                [(ngModel)]="user.emailAddress"
                placeholder="Email"
              />
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab [label]="'Preferences'" style="font-size: 10xpx;height: 100vh;">
        <div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="First name" />
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Age" />
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button">
      Cancel
    </button>
    <button
      (click)="save()"
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
    >
      Save
    </button>
  </div>
</form>
